// Scss Document
#top-section_image-area {
    height: 100vh;
    background-position: center;
    background-image: url("../images/common/main_background.jpg");
	background-size: cover;
}

@keyframes text-scrolling {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

#sample-section {
	position: relative;
	width: 100%;
	overflow-x: hidden;
	#background-english {
			position: absolute;
			top: 25px;
			left: 0;
			height: 220px;
			color: #e7e9ea;
			font-size: 20rem;
			animation: text-scrolling 40s linear infinite;
			z-index: -1;
			white-space: nowrap;
			display: inline-block
		}
	#background-english:after {
		content: "";
		animation: autoTextChangeEN 40s infinite, fader2 40s infinite;
	}
}



/*@keyframes autoBackgroundChange {
	0% {background-image: url("../images/index/main_seasonal_pilaf.jpg");}
	25% {background-image: url("../images/index/main_shio_koji_pork.jpg");}
	50% {background-image: url("../images/index/main_japanese_hamburger.jpg");}
	75% {background-image: url("../images/index/main_macaroni.jpg");}
	100% {background-image: url("../images/index/main_seasonal_pilaf.jpg");}
}*/

/*@-webkit-keyframes autoBackgroundChange {
	0% {background-image: url("../images/index/main_seasonal_pilaf.jpg");}
	25% {background-image: url("../images/index/main_shio_koji_pork.jpg");}
	50% {background-image: url("../images/index/main_japanese_hamburger.jpg");}
	75% {background-image: url("../images/index/main_macaroni.jpg");}
	100% {background-image: url("../images/index/main_seasonal_pilaf.jpg");}
}*/
	
/*@keyframes autoTextChangeJP {
	0% {content: "季節の土鍋ピラフ";}
	25% {content: "塩こうじ豚のグリル";}
	50% {content: "和風おろし\aハンバーグ";}
	75% {content: "カニとキノコの\a白みそグラタン";}
	100% {content: "季節の土鍋ピラフ";}
}*/

	
@keyframes fader {
	0% {opacity: 1;}
	8% {opacity: 0;}
	15% {opacity: 1;}
	25% {opacity: 1;}
	33% {opacity: 0;}
	40% {opacity: 1;}
	50% {opacity: 1;}
	58% {opacity: 0;}
	65% {opacity: 1;}
	75% {opacity: 1;}
	83% {opacity: 0;}
	90% {opacity: 1;}
	100% {opacity: 1;}
}
	
@keyframes fader2 {
	0% {opacity: 1;}
	8% {opacity: 0;}
	25% {opacity: 1;}
	33% {opacity: 0;}
	50% {opacity: 1;}
	58% {opacity: 0;}
	75% {opacity: 1;}
	83% {opacity: 0;}
	100% {opacity: 1;}
}
	
/*@keyframes autoTextChangeEN {
	0% {content: "Seasonal pilaf \ain an earthen pot";}
	25% {content: "Grilled shio-koji pork";}
	50% {content: "Japanese Hamburger";}
	75% {content: "Macaroni au gratin \awith crab and mushrooms";}
	100% {content: "Seasonal pilaf \ain an earthen pot";}
}
*/
#sample-section {
			margin-bottom: 150px;
}
#food-card {

	max-width: 1100px;
	margin: 35px auto 42px;
	position: relative;
	#food-card_title_area {
		width: 69px;
		height: 300px;
		background-color: #FFF;
		display: flex;
		justify-content: center;
		text-align: center;
		margin-left: 40px;
		position: relative;
		z-index: 20;
		#food-card_title {
			writing-mode: vertical-rl;
			text-orientation: upright;
			color: #383a42;
			font-size: 3.0rem;
		}
	}
	#food-card_image_and_description {
		margin-top: -220px;
		display: flex;
		white-space: pre-wrap;
/*		z-index: 10;*/
		#food-card_image-wrapper {
			z-index: 2;
			#food-card_image {
				width: 670px;
				height: 321px;
				border-radius: 40px;
/*				background-size: cover;
				background-position: center;*/
				z-index: 18;
/*				animation: autoBackgroundChange 40s infinite;
				animation-timing-function: cubic-bezier(.10,.25,.25,1.50);
				-webkit-animation: autoBackgroundChange 40s infinite;
				-webkit-animation-timing-function: cubic-bezier(.10,.25,.25,1.50);
				will-change: transform;*/
			    background-position: center;
				background-size: cover;
				transition: 2s ease-in;
				-webkit-transition: 2s ease-in;
				-webkit-backface-visibility: hidden;
			}

		}
		#food-card_description-wrapper {
			z-index: 1;
			#food-card_background {
				background-color: #cdc095;
				position: relative;

				height: 100px;
				width: 560px;
				margin-top: -38px;
				margin-left: -515px;
				
				z-index: 1;
				}
			#food-card_description {
				position: relative;
				background-color: #383a42;
				color: #f6f8f9;
				width: 500px;
				height: 222px;
				margin-left: -70px;
				margin-top: 45px;
				z-index: 2;
				justify-content: space-evenly;
				padding: 16px 0 16px 100px;
				display: flex;


				#food-card_description-japanese {
					writing-mode: vertical-rl;
					text-orientation: upright;
					font-size: 2.0rem;
					line-height: 3.6rem;
					padding: 5px 14px;
					text-align: center;
					border-right: 1px solid #f6f8f9;
					border-left: 1px solid #f6f8f9;
					height: 100%;
					overflow-wrap: break-word;
				}
/*				#food-card_description-japanese:after {
					content: "";
					animation: autoTextChangeJP 40s infinite, fader 40s infinite;
				}*/

				#food-card_description-english {
					font-size: 1.8rem;
					line-height: 3.6rem;
					font-family: 'Montagu Slab', serif;
					padding: 0 20px 0 30px;
					display: flex;
					flex-wrap: wrap;
					flex-direction: column-reverse;
					align-content: center;
					justify-content: space-evenly;
					overflow: hidden;
					#pNode {
						text-align: center;
						-webkit-transition: .5s ease;
						transition: .5s ease;
					}
				}
/*				#food-card_description-english:after {
					content: "";
					animation: autoTextChangeEN 40s infinite, fader 40s infinite;
					padding: 0 10px;
					text-align: center;
					font-size: 1.6rem;
				}*/

				#food-card_arrow {
					font-size: 2.4rem;
					color: #f6f8f9;
					align-self: center;


					a {
						padding: 4px 8px;
						border: 1px #fff solid;
						display: inline-block;
					}
				}
				#food-card_arrow:hover {
					a {
						color: #383a42;
						background-color: #f6f8f9;
					}

				}
				}
		}
	}

	}

@media (max-width: 1200px) {
	#sample-section {
		#background-english {
				top: 125px; /*r*/
				height: 90px; /*r*/
				font-size: 8rem; /*r*/
			}
		#food-card {
			margin-top: 80px; /*r*/
			max-width: 670px;

	#food-card_title_area {
		width: 50px; /*r*/
		height: 220px; /*r*/
		#food-card_title {
			font-size: 2.4rem; /*r*/
		}
	}
	#food-card_image_and_description {
		margin-top: -100px; /*r*/
		flex-wrap: wrap; /*r*/
		justify-content: center;
		#food-card_image-wrapper {
			max-width: 100vw;

		}
		#food-card_image {
			max-width: 88%;
			margin: 0 2% 0 4%;
		}
		#food-card_background {

			width: 360px; /*r*/
			height: 300px; /*r*/			
			margin-top: -520px; /*r*/
			margin-left: -147px;
			z-index: -1;
		}
		#food-card_description {
			max-width: 375px; /*r*/	
			padding: 85px 30px 20px 30px;
			margin-top: -100px;
			height: 280px;
			margin-left: 0;
			justify-content: space-between;
			position: relative;
			z-index: initial;
			#food-card_description-japanese {
				font-size: 1.8rem; /*r*/
			}
			#food-card_description-english {
				padding: 0 10px 0 30px;
				justify-content: space-around;
			}
			#food-card_description-english:after {
				font-size: 1.4rem;
				padding: 0 10px;
				text-align: center;
			}
			
		}
		#food-card_description:after {
			content: "";
			width: 75%;
			height: 150px;
			background-color: #cdc095;
			z-index: -1;
			position: absolute;
			right: -5%;
			bottom: -8%;
		}
		#food-card_description-wrapper {
			height: 180px;
		}
	}

	}

	}
}



#bignav-section {
	margin-bottom: 150px;
	max-height: 800px;
	#bignav-flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		.nav-item {
			position: relative;
			font-family: 'Montagu Slab', serif;
			width: 50%;
			min-width: 550px;
			cursor: default;
			overflow: hidden;
			.nav-title {
				display: flex;
				width: 100%;
				height: 100%;
				justify-content: center;
				align-items: center;
				position: absolute;
				color: #EEE;
				top: 0px;
				font-size: clamp(2.0rem, 3vw, 4.0rem);
				z-index: 20;
			}
			.nav-img {
				vertical-align: top; // Prevent space between images
				width: 100%;
				
			}

		}
		.nav-item:hover img {
			transform: scale(1.1);
		}
		.nav-item:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			height: 100%;
			width: 100%;
			background-color: rgba(27,29,38,0.30);
			z-index: 10;
		}
		.nav-item:hover:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			height: 100%;
			width: 100%;
			background-color: rgba(27,29,38,0.60);
			z-index: 10;
		}
	}
}

@media (max-width: 550px) {
	#bignav-section {
		#bignav-flex {
			.nav-item {
				min-width: 0px;
			}
		}
	}
}

@media (max-width: 400px) 
{
	#bignav-section {
		#bignav-flex {

			.nav-item {
				min-width: 100vw;
			}
		}
	}
}
